/*-----------------------------------------------------------------*/
/*                      RESPONSIVE                                  */
/*-----------------------------------------------------------------*/

@media only screen and (max-width: 720px) { 

  div.member{
    display: flex;
    flex-direction: column
  }

  div.member__card{
    flex-grow: 1;
  }
}
